<h6>Dismiss on Click Outside</h6>

<p class="text-muted">
  Use <code>[popoverDismissOnClickOutside]="true"</code>
  to dismiss the popover when the user clicks or focuses anywhere other
  than on the popover element itself.
</p>

<div class="row align-items-center mb-4" id="tooltip-dismiss-demo">
  <div class="col-md-4 text-center mb-2">
    <button type="button"
      class="btn btn-primary mb-2"
      ngxStrapPopover
      [popoverDismissOnClickOutside]="true"
      title="Dismiss on Click Outside: True"
      [popoverContent]="myTemplate">
      Popover
    </button>
    <div class="text-muted small">
      Clicking or focusing elements outside this popover
      <strong>will</strong> hide it.
    </div>
    <div class="mt-2 text-left">
      <a href="javascript: void(0)">Link</a>
      <br>
      <input type="text" class="form-control form-control-sm" placeholder="Input to focus">
    </div>
  </div>
  <div class="col-md-8 mb-2">
    <markdown ngPreserveWhitespaces>
    ```html
    &lt;button type="button"
      class="btn btn-primary mb-2"
      ngxStrapPopover
      [popoverDismissOnClickOutside]="true"
      title="Dismiss on Click Outside: True"
      [popoverContent]="myTemplate">
      Popover
    &lt;/button>
    ```
    </markdown>
  </div>

</div>

<ng-template #myTemplate>
  <p>
    <a href="javascript: void(0)">Link to click</a>.
  </p>

  <p>
      <input type="text" class="form-control form-control-sm" placeholder="Input to focus">
  </p>

  <p class="text-muted">
    Interacting with these elements will not dismiss the popover.
  </p>

</ng-template>
