<header class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Dropdowns</h1>
    <p class="lead">
      Use the <code>ngxStrapDropdown</code> directive
      to listen for dropdown events.
    </p>
  </div>
</header>
<div class="container page">
  <section class="page-section">
    <div class="alert alert-info">
      <i class="fas fa-info fa-fw"></i>
      Note using this directive is entirely optional. You can
      create dropdowns with just the
      <a href="https://getbootstrap.com/docs/4.1/components/dropdowns/#via-data-attributes"
        target="bsdocs" class="alert-link">native
      bootstrap data- attributes and classes</a>. Only use the directive if you need access to the
      dropdown events.
    </div>
    <h4>API</h4>
    <ul>
      <li>selector: <code>[ngxStrapDropdown]</code></li>
      <li>exportAs: <code>ngxStrapDropdown</code></li>
    </ul>
    <h5>Inputs</h5>
    <p class="text-muted">None</p>
    <h5>Outputs</h5>
    <ul>
      <li>
        <code>events: EventEmitter&lt;Event&gt;</code> The native Bootstrap events.
      </li>
    </ul>
    <h5>Properties</h5>
    <ul>
      <li>
        <code>status: 'hidden' | 'show' | 'shown' | 'hide'</code> The current status of the dropdown
        (the last event's <code>type</code>.)
      </li>
    </ul>
  </section>

  <section class="page-section">
    <h4>Demos</h4>
    <section class="demo-section">
      <h5>Basic Demo</h5>
      <section class="demo">
        <app-dropdown-basic-demo></app-dropdown-basic-demo>
      </section>
      <p>
        Use the <code>ngxStrapDropdown</code> in the top-level
        <code>.dropdown</code> (or <code>.dropup</code> etc.) element. The only other required markup
        is:
      </p>
      <ul>
        <li>
          a toggle element with <code>data-toggle="dropdown"</code>, and
        </li>
        <li>
          an element with the <code>.dropdown-menu</code> class.
        </li>
      </ul>
      <p>
        The directive takes care of adding ids and <code>aria-</code> attributes if they are missing.
      </p>

      <section class="code">
        <markdown src="/assets/dropdown-basic-demo.md"></markdown>
      </section>


    </section>
    <section class="demo-section">
      <h5>Dropdown Events and Status</h5>
      <section class="demo">
        <app-dropdown-events-demo></app-dropdown-events-demo>
      </section>
      <p>
        The directive exposes the native Bootstrap
        <a href="https://getbootstrap.com/docs/4.1/components/dropdowns/#events"
          target="bsdocs">dropdown events</a> through the <code>events</code>
          output. The current status of the dropdown is available through the
          <code>status</code> property. This is one of <code>'hidden'</code>,
          <code>'show'</code>, <code>'shown'</code> or <code>'hide'</code>.
      </p>

      <section class="code">
        <markdown src="/assets/dropdown-events-demo.md"></markdown>
      </section>
    </section>

  </section>
</div>
