<header class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Modals</h1>
    <p class="lead">
      Use the <code>ngxStrapModal</code> directive
      with an <code>ng-template</code>
      to create a Bootstrap modal.
    </p>
  </div>
</header>

<div class="container">
  <h3>Basic Usage</h3>
  <p>
    Import the <code>ModalModule</code>.
    This module exports the modal directive.
  </p>
  <div class="mb-4">
    <markdown ngPreserveWhitespaces>
    ```typescript
    // app.module.ts
    // ...
    import {{ '{' }} ModalModule } from '@nowzoo/ngx-strap';

    @NgModule({{ '{' }}
      imports: [
        //...
        ModalModule
      ]
    })
    export class AppModule  {{ '{' }} }
    ```
    </markdown>
  </div>
  <p>
    Create a modal with an <code>ng-template</code> and the <code>[ngxStrapModal]</code> selector.
  </p>
  <div class="mb-4">
    <markdown ngPreserveWhitespaces>
    ```html
    &lt;ng-template ngxStrapModal #modal="ngxStrapModal">
      &lt;!-- Complete Bootstrap modal markup here -->
    &lt;/ng-template>
    &lt;button (click)="modal.show()">Show Modal&lt;/button>
    ```
    </markdown>
  </div>

  <h3>Directive API</h3>

  <ul>
    <li>Selector: <code>[ngxStrapModal]</code></li>
    <li>Export As: <code>ngxStrapModal</code></li>
  </ul>

  <h4>
    Inputs
  </h4>

  <p>
    None. All Bootstrap modal options can be set
    in the markup you place inside the <code>ng-template</code>,
    via the native Bootstrap <code>data-</code> attributes and
    classes.
  </p>

  <ul>
    <li>

      <a href="http://getbootstrap.com/docs/4.1/components/modal/#options" target="bsdocs">Bootstrap modal options</a>
      (except <code>show</code>) can be set via <code>data-</code>
      attributes in the top-level <code>&lt;div class="modal"></code>.
      <ul>
        <li>
          backdrop: <code>data-backdrop</code>
        </li>
        <li>
          keyboard: <code>data-keyboard</code>
        </li>
        <li>
          focus: <code>data-focus</code>
        </li>
      </ul>
    </li>
    <li>
      <a href="http://getbootstrap.com/docs/4.1/components/modal/#remove-animation" target="bsdocs">Animation</a>
      is controlled by adding or omitting the <code>fade</code>
      class in the top-level <code>&lt;div class="modal"></code>.
    </li>
    <li>
      <a href="http://getbootstrap.com/docs/4.1/components/modal/#optional-sizes" target="bsdocs">Modal size</a>
      is controlled by adding the <code>modal-lg</code> or <code>modal-sm</code>
      classes to the <code>&lt;div class="modal-dialog"></code> element.
    </li>
    <li>
      You can
      <a href="http://getbootstrap.com/docs/4.1/components/modal/#vertically-centered" target="bsdocs">center
      the dialog vertically</a> in the viewport by adding
      adding the <code>modal-dialog-centered</code>
      class to the <code>&lt;div class="modal-dialog"></code> element.
    </li>
  </ul>


  <h4>
    Outputs
  </h4>
  <ul>
    <li>
      <code>events: EventEmitter&lt;Event></code>
      <div>
        The native Bootstrap modal events.
      </div>
    </li>
  </ul>

  <h4>
    Methods
  </h4>

  <ul>
    <li>
      <code>show(): {{ '{' }}shown: Promise&lt;void>, hidden: Promise&lt;void>}</code>
      <div>
        Shows the modal. The <code>shown</code> and <code>hidden</code>
        promises resolve when the modal is completely shown or hidden (i.e. after the animation completes.)
      </div>
    </li>
    <li>
      <code>hide(): &lt;void></code>
      <div>
        Hides the modal.
      </div>
    </li>
    <li>
      <code>handleUpdate(): &lt;void></code>
      <div>
        Use this when the height of the modal content changes.
        See <a href="http://getbootstrap.com/docs/4.1/components/modal/#dynamic-heights" target="bsdocs">the
          Bootstrap docs</a>.
      </div>
    </li>
  </ul>








  <h3>Demos</h3>

  <app-modal-minimal-demo></app-modal-minimal-demo>

  <app-modal-events-demo></app-modal-events-demo>

  <app-modal-promises-demo></app-modal-promises-demo>
</div>
