
<h6>Minimal Demo</h6>

<p>
  The tooltip directive works out of the box with the <code>title</code> and Bootstrap's native
  <code>data-</code> attributes.
</p>

<div class="row align-items-center mb-4">
  <div class="col-md-4 text-center mb-2">
    <button type="button"
      class="btn btn-primary"
      ngxStrapTooltip
      title="Tooltip Title">Tooltip</button>
  </div>
  <div class="col-md-8 mb-2">
    <markdown ngPreserveWhitespaces>
    ```html
    &lt;button type="button"
      class="btn btn-primary"
      ngxStrapTooltip
      title="Tooltip Title">
      Tooltip
    &lt;/button>
    ```
    </markdown>
  </div>
</div>
