
<h6>Minimal Tooltip Examples</h6>
<p class="text-muted">
  The tooltip directive works out of the box with the <code>title</code> and Bootstrap's native
  <code>data-</code> attributes.
</p>

<p>
  <button type="button"
    class="btn btn-primary"
    ngxStrapTooltip
    title="Title set with the title attribute">Plain Title Attribute</button>

</p>
<pre>ngxStrapTooltip title="..."</pre>


<p>
  <button type="button"
    class="btn btn-primary"
    ngxStrapTooltip
    data-title="Title set with the data-title attribute">data-title Attribute</button>

</p>
<pre>ngxStrapTooltip data-title="..."</pre>


<p>
  <button type="button"
    class="btn btn-primary"
    ngxStrapTooltip
    data-placement="bottom"
    data-title="Placement set with the data-placement attribute">Tooltip Below</button>
</p>
<pre>ngxStrapTooltip data-placement="bottom"</pre>

<p>
  <button type="button"
    class="btn btn-primary"
    ngxStrapTooltip
    data-trigger="click"
    data-title="Trigger set with the data-trigger attribute">Trigger with Click</button>

</p>
<pre>ngxStrapTooltip data-trigger="click"</pre>
