<h1 class="display-1">Tooltips</h1>
<hr>

<section class="demo-section">
  <h2>Tooltip using title attribute</h2>
  <p>
    Use <code>ngxStrapTooltip title="Static Title"</code> if you don't need to change the tooltip's content.
  </p>
  <div class="d-flex align-items-center">
    <div class="mr-4 mb-2">
      <app-title></app-title>
    </div>
    <div class="mb-2">
      <app-repo-link path="/blob/master/src/app/modals/demos/minimal.component.ts">Demo Code</app-repo-link>
    </div>
  </div>
</section>


<section class="demo-section">
  <h2>Tooltip with a string variable</h2>
  <p>
    Use <code>[ngxStrapTooltip]="value"</code> to set the tooltip's content dynamically.
  </p>
  <div class="d-flex align-items-center">
    <div class="mr-4 mb-2">
      <app-string></app-string>
    </div>
    <div class="mb-2">
      <app-repo-link path="/blob/master/src/app/modals/demos/minimal.component.ts">Demo Code</app-repo-link>
    </div>
  </div>
</section>

<section class="demo-section">
  <h2>Tooltip with a template</h2>
  <p>
    Use <code>[ngxStrapTemplateTooltip]="templateRef"</code> to use an <code>ng-template</code>
    for the tooltip's content. This is useful when you want to interpolate variables.
  </p>
  <div class="d-flex align-items-center">
    <div class="mr-4 mb-2">
      <app-template></app-template>
    </div>
    <div class="mb-2">
      <app-repo-link path="/blob/master/src/app/modals/demos/minimal.component.ts">Demo Code</app-repo-link>
    </div>
  </div>
</section>

<section class="demo-section">
  <h2>Showing and hiding programmatically</h2>
  <p>
    Use <code>data-trigger="manual"</code> with either <code>ngxStrapTooltip</code> or <code>ngxStrapTemplateTooltip</code>
    to control the tooltip's visibility from your code or elsewhere in the markup.
    The <code>show()</code>, <code>hide()</code> and <code>toggle()</code> return promises that resolve
    when the tooltip is completely shown/hidden. You can track the tooltip's visibilty with the <code>state</code>
    property.
  </p>
  <div class="d-flex align-items-center">
    <div class="mr-4 mb-2">
      <app-show-hide></app-show-hide>
    </div>
    <div class="mb-2">
      <app-repo-link path="/blob/master/src/app/modals/demos/minimal.component.ts">Demo Code</app-repo-link>
    </div>
  </div>
</section>

<section class="demo-section">
  <h2>Disabling the tooltip</h2>
  <p>

    Use the directive's <code>disable()</code>, <code>enable()</code> and <code>toggleEnabled()</code> methods
    to control whether the tooltip will be shown.
    You can track this with the <code>disabled</code> property.
  </p>
  <div class="d-flex align-items-center">
    <div class="mr-4 mb-2">
      <app-disable-enable></app-disable-enable>
    </div>
    <div class="mb-2">
      <app-repo-link path="/blob/master/src/app/modals/demos/minimal.component.ts">Demo Code</app-repo-link>
    </div>
  </div>
</section>

<section class="demo-section">
  <h2>Tooltips go away</h2>
  <p>
    A tooltip (and the associated template in the case of
    <code>ngxStrapTemplateTooltip</code>) are disposed of
    when the directive is destroyed, such as on
    a route change.
  </p>
  <div class="d-flex align-items-center">
    <div class="mr-4 mb-2">
      <app-go-away></app-go-away>
    </div>
    <div class="mb-2">
      <app-repo-link path="/blob/master/src/app/modals/demos/minimal.component.ts">Demo Code</app-repo-link>
    </div>
  </div>
</section>

<section class="demo-section">
  <h2>Setting tooltip options with <code>data-</code> attributes </h2>
  <p>
    You can set an individual tooltip's options by adding
    <code>data-</code> attributes, such as <code>data-animation="false"</code>.
  </p>
  <div class="d-flex align-items-center">
    <div class="mr-4 mb-2">
      <app-data-options></app-data-options>
    </div>
    <div class="mb-2">
      <app-repo-link path="/blob/master/src/app/modals/demos/minimal.component.ts">Demo Code</app-repo-link>
    </div>
  </div>
</section>

<section class="demo-section">
  <h2>Setting tooltip options with the directive's <code>options-</code> input </h2>
  <p>
    You can also set an individual tooltip's options by passing in an
    <code>options-</code> object. Example <code>[options]="{{'{'}}animation:false{{'}'}}"</code>.
  </p>
  <div class="d-flex align-items-center">
    <div class="mr-4 mb-2">
      <app-input-options></app-input-options>
    </div>
    <div class="mb-2">
      <app-repo-link path="/blob/master/src/app/modals/demos/minimal.component.ts">Demo Code</app-repo-link>
    </div>
  </div>
</section>


<section class="demo-section">
  <h2>Overriding the global tooltip options</h2>
  <p>
    Bootstrap's
    <a href="http://getbootstrap.com/docs/4.1/components/tooltips/#options">base tooltip options</a>
    are applied by default. You can override these defaults
    in a module or a component by providing <code>NgxStrapTooltipOptions</code>. The following demo component
    sets <code>animation</code> to false and provides a custom <code>template</code>.
  </p>
  <div class="d-flex align-items-center">
    <div class="mr-4 mb-2">
      <app-default-options></app-default-options>
    </div>
    <div class="mb-2">
      <app-repo-link path="/blob/master/src/app/modals/demos/minimal.component.ts">Demo Code</app-repo-link>
    </div>
  </div>
</section>
