<h6>Dismiss on Click Outside</h6>
<p class="text-muted">
  To allow clicks within the tooltip without dismissing it, but
  dismiss it on a click outside, use <code>data-trigger="click"</code>
  and <code>[tooltipDismissOnClickOutside]="true"</code>
</p>

<p>
  <button type="button"
    class="btn btn-primary"
    ngxStrapTooltip
    data-trigger="click"
    [tooltipDismissOnClickOutside]="true"
    [tooltipTitle]="myTemplate">Dismiss on Click Outside the Tooltip</button>

</p>
<pre>ngxStrapTooltip data-trigger="click" [tooltipDismissOnClickOutside]="true"</pre>
<ng-template #myTemplate>
  A click in the tooltip will not dismiss it. A click outside of it will.
  <a class="badge badge-light" href="https://google.com" target="_blank">Try It</a>
</ng-template>
