<h6>Tooltip Using a Template</h6>

<p>
  For more complex html and bindings, use the <code>tooltipTitle</code> input with template reference.
</p>



<div class="row align-items-center mb-4">
  <div class="col-md-4 text-center mb-2">
    <button
      type="button"
      class="btn btn-primary"
      ngxStrapTooltip
      [tooltipTitle]="myTemplate">
      Tooltip from Template
    </button>
    <ng-template #myTemplate>
      <i class="fas fa-spin fa-spinner fa-fw"></i>
      {{time}}
    </ng-template>
  </div>
  <div class="col-md-8 mb-2">
    <markdown ngPreserveWhitespaces>
    ```html
    &lt;button
      type="button"
      class="btn btn-primary"
      ngxStrapTooltip
      [tooltipTitle]="myTemplate">
      Tooltip from Template
    &lt;/button>
    &lt;ng-template #myTemplate>
      &lt;i class="fas fa-spin fa-spinner fa-fw">&lt;/i>
      {{ '{{' }}time}}
    &lt;/ng-template>
    ```
    </markdown>
  </div>
</div>
