<h6>Popover Using  Templates</h6>

<p>
  For more complex html and bindings, use
  the <code>popoverTitle</code> and <code>popoverContent</code> inputs with templates
  to set the popover title and content.
</p>




<div class="row align-items-center mb-4">
  <div class="col-md-4 text-center mb-2">
    <button type="button"
      class="btn btn-primary"
      ngxStrapPopover
      [popoverTitle]="myTitleTemplate"
      [popoverContent]="myContentTemplate"
      (events)="onPopoverEvent($event)">
      Popover with Templates
    </button>
    <ng-template #myTitleTemplate>
      <i class="fas fa-clock fa-fw"></i>
      {{time}}
    </ng-template>
    <ng-template #myContentTemplate>
      <i class="fas fa-spin fa-spinner fa-fw"></i>
      This popover has been open for {{popoverOpenFor}}s.
    </ng-template>
  </div>
  <div class="col-md-8 mb-2">
    <markdown ngPreserveWhitespaces>
    ```html
    &lt;button type="button"
      class="btn btn-primary"
      ngxStrapPopover
      [popoverTitle]="myTitleTemplate"
      [popoverContent]="myContentTemplate"
      (events)="onPopoverEvent($event)">
      Popover with Templates
    &lt;/button>
    &lt;ng-template #myTitleTemplate>
      &lt;i class="fas fa-clock fa-fw">&lt;/i>
      {{ '{{' }}time}}
    &lt;/ng-template>
    &lt;ng-template #myContentTemplate>
      &lt;i class="fas fa-spin fa-spinner fa-fw">&lt;/i>
      This popover has been open for {{ '{{' }}popoverOpenFor}}s.
    &lt;/ng-template>
    ```
    </markdown>
  </div>
</div>
