<h6>Tooltip Events</h6>
<p>
  The <code>events</code> output emits the native
  Bootstrap tooltip events.
</p>


<div class="row align-items-center mb-4">
  <div class="col-md-4 text-center mb-2">
    <button type="button"
      class="btn btn-primary"
      ngxStrapTooltip
      (events)="onTooltipEvent($event)"
      title="Toolitip Title">Tooltip Events</button>

      <div class="mt-2 text-left">
        Events: <small>{{events.join(', ')}}</small>
      </div>
  </div>
  <div class="col-md-8 mb-2">
    <markdown ngPreserveWhitespaces>
    ```html
    &lt;button type="button"
      class="btn btn-primary"
      ngxStrapTooltip
      (events)="onTooltipEvent($event)"
      title="Toolitip Title">
      Tooltip Events
    &lt;/button>
    ```
    </markdown>
  </div>

</div>
