<header class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Tooltips</h1>
    <p class="lead">
      Use the <code>ngxStrapTooltip</code> directive
      to create Bootstrap tooltips with strings or
      templates.
    </p>
  </div>
</header>

<div class="container">

  <h3>Basic Usage</h3>
  <p>
    Import the <code>PopupModule</code>.
    This module exports the tooltip directive.
  </p>
  <div class="mb-4">
    <markdown ngPreserveWhitespaces>
    ```typescript
    // app.module.ts
    // ...
    import {{ '{' }} PopupModule } from '@nowzoo/ngx-strap';

    @NgModule({{ '{' }}
      imports: [
        //...
        PopupModule
      ]
    })
    export class AppModule  {{ '{' }} }
    ```
    </markdown>
  </div>

  <p>Create a tooltip...</p>
  <div class="mb-4">
    <markdown ngPreserveWhitespaces ngNonBindable>
    ```html
    &lt;button type="button"
      class="btn btn-primary"
      ngxStraptooltip
      title="tooltip Title"&gt;tooltip&lt;/button&gt;
    ```
    </markdown>
  </div>

  <h3>API</h3>

  <ul class="list-unstyled">
    <li>
      Selector: <code>'[ngxStraptooltip]'</code>
    </li>
    <li>
      Export As: <code>'ngxStraptooltip'</code>
    </li>
  </ul>


  <h4>Inputs</h4>
  <h6>Title and Content</h6>
  <ul>
    <li>
       <code>tooltipTitle: string | TemplateRef&lt;any&gt;</code>
       <div>
         Optional. Pass a string or a template for the tooltip title.
         If you don’t need a dynamic title use the <code>title</code>
         or <code>data-title</code> attribute.
       </div>
    </li>
    <li>
       <code>tooltipContent: string | TemplateRef&lt;any&gt;</code>
       <div>
         Optional. Pass a string or a template for the tooltip content.
         If you don’t need dynamic content use the
         or <code>data-content</code> attribute.
       </div>
    </li>
  </ul>
  <h6>Other Bootstrap tooltip Options</h6>
  <p>
    All the other
    <a href="http://getbootstrap.com/docs/4.1/components/tooltips/#options" target="bsdocs">Bootstrap tooltip options</a>
    except <code>selector</code> have analogous directive inputs.
    Note that the following options can only be set once, when the directive is created.
  </p>
  <ul>
    <li>
      <code>tooltipAnimation: boolean</code>
      <div>
        Optional.
        You can also use the <code>data-animation</code> attribute.
      </div>
    </li>
    <li>
      <code>tooltipDelay: number | {{ '{' }}show: number, hide: number}</code>
      <div>
        Optional. You can also use
        the <code>data-delay</code> attribute.
      </div>
    </li>
    <li>
      <code>tooltipHtml: boolean</code>
      <div>
        Optional.  You can also use
        the <code>data-html</code> attribute. Note that if
        you use the <code>tooltipTitle</code>
        input, HTML is always enabled.
      </div>
    </li>
    <li>
      <code>tooltipContainer: string | HTMLElement | false</code>
      <div>
        Optional. You can also use the <code>data-container</code> attribute.
      </div>
    </li>
    <li>
      <code>tooltipPlacement: string | ((popupEl: HTMLElement, triggerEl: HTMLElement) => string)</code>
      <div>
        Optional. You can also use the <code>data-placement</code> attribute.
      </div>
    </li>
    <li>
      <code>tooltipTemplate: string</code>
      <div>
        Optional. You can also use the <code>data-template</code> attribute.
      </div>
    </li>
    <li>
      <code>tooltipTrigger: string</code>
      <div>
        Optional. You can also use the <code>data-trigger</code> attribute.
      </div>
    </li>
    <li>
      <code>tooltipOffset: number | string</code>
      <div>
        Optional. You can also use the <code>data-offset</code> attribute.
      </div>
    </li>
    <li>
      <code>tooltipFallbackPlacement: string | string[]</code>
      <div>
        Optional. You can also use the <code>data-fallbackPlacement</code> attribute.
      </div>
    </li>
    <li>
      <code>tooltipBoundary: string | HTMLElement</code>
      <div>
        Optional. You can also use the <code>data-boundary</code> attribute.
      </div>
    </li>
  </ul>
  <h6>Other Inputs</h6>
  <ul>
    <li>
      <code>tooltipEnabled: boolean</code>
      <div>
        Optional. Default <code>true</code>. Enable/disable the tooltip.
      </div>
    </li>

    <li>
      <code>tooltipDismissOnClickOutside: boolean</code>
      <div>
        Optional. Use this to hide the
        tooltip when the user clicks or
        focuses anywhere outside the tooltip itself.
      </div>
    </li>
  </ul>



  <h4>Outputs</h4>
  <ul>
    <li>
       <code>events: EventEmitter&lt;Event&gt;</code>
       <div>
        The native Bootstrap tooltip events.
       </div>
    </li>
  </ul>

  <h4>Functions</h4>
  <ul>
    <li>
       <code>show(): void</code>
       <div>
        Show the tooltip manually.
       </div>
    </li>
    <li>
       <code>hide(): void</code>
       <div>
        Hide the tooltip manually.
       </div>
    </li>
    <li>
       <code>toggle(): void</code>
       <div>
        Toggle the visibility of the tooltip manually.
       </div>
    </li>
  </ul>

  <h3>Demos</h3>




  <app-tooltip-minimal-demo></app-tooltip-minimal-demo>

  <app-tooltip-dynamic-string-demo></app-tooltip-dynamic-string-demo>

  <app-tooltip-template-demo></app-tooltip-template-demo>

  <app-tooltip-enabled-demo></app-tooltip-enabled-demo>

  <app-tooltip-dismiss-demo></app-tooltip-dismiss-demo>

  <app-tooltip-events-demo></app-tooltip-events-demo>

  <app-tooltip-show-hide-toggle-demo></app-tooltip-show-hide-toggle-demo>
</div>
