<div class="container">
  <header>
    <h1>Tooltips</h1>
  </header>

  <app-tooltip-minimal-demo></app-tooltip-minimal-demo>
  <app-tooltip-dynamic-string-demo></app-tooltip-dynamic-string-demo>
  <app-tooltip-template-demo></app-tooltip-template-demo>
  <app-tooltip-delay-demo></app-tooltip-delay-demo>
  <app-tooltip-dismiss-on-click-outside-demo></app-tooltip-dismiss-on-click-outside-demo>
  <app-tooltip-events-demo></app-tooltip-events-demo>
  <app-tooltip-show-hide-toggle-demo></app-tooltip-show-hide-toggle-demo>
  <app-tooltip-enabled-demo></app-tooltip-enabled-demo>
</div>
