<h6>Popover Events</h6>
<p class="text-muted">
  The <code>events</code> output emits the native
  Bootstrap popover events.
</p>


<div class="row align-items-center mb-4">
  <div class="col-md-4 text-center mb-2">
    <button type="button"
      class="btn btn-primary"
      ngxStrapPopover
      (events)="onPopoverEvent($event)"
      title="Popover Title"
      data-content="Popover content.">
      Popover Events
    </button>

    <div class="mt-2 text-left">
      Events: <small>{{events.join(', ')}}</small>
    </div>
  </div>
  <div class="col-md-8 mb-2">
    <markdown ngPreserveWhitespaces>
    ```html
    &lt;button type="button"
      class="btn btn-primary"
      ngxStrapPopover
      (events)="onPopoverEvent($event)"
      title="Popover Title"
      data-content="Popover content.">
      Popover Events
    &lt;/button>
    ```
    </markdown>
  </div>

</div>
