<h6>Popovers Using Dynamic Strings</h6>
<p>
  Use the <code>popoverTitle</code> and <code>popoverContent</code> inputs with dynamic strings
  to set the popover title and content.
</p>

<div class="row align-items-center mb-4">
  <div class="col-md-4 text-center mb-2">
    <button type="button"
      class="btn btn-primary"
      ngxStrapPopover
      [popoverContent]="'The current time is ' + time"
      [popoverTitle]="'Open for ' + popoverOpenFor + ' second(s)'"
      (events)="onPopoverEvent($event)">
      Popover with Dynamic Strings
    </button>
  </div>
  <div class="col-md-8 mb-2">
    <markdown ngPreserveWhitespaces>
    ```html
    &lt;button type="button"
      class="btn btn-primary"
      ngxStrapPopover
      [popoverContent]="'The current time is ' + time"
      [popoverTitle]="'Open for ' + popoverOpenFor + ' second(s)'"
      (events)="onPopoverEvent($event)">
      Popover with Dynamic Strings
    &lt;/button>
    ```
    </markdown>
  </div>
</div>
