<!-- <div class="accordion" [attr.id]="id">
  <div class="card" *ngFor="let t of tabs; let isFirst = first">
    <a
      class="card-header"
      [attr.id]="t.linkId"
      data-toggle="collapse"
      [attr.href]="'#' + t.paneId"
      [attr.aria-expanded]="isFirst"
      [attr.aria-controls]="t.paneId">
        <ng-container *ngTemplateOutlet="t.titleTemplateRef"></ng-container>
    </a>
    <div
      [attr.id]="t.paneId"
      class="collapse"
      [class.show]="isFirst"
      [attr.aria-labelledby]="t.linkId"
      [attr.data-parent]="'#' + id">
      <div class="card-body">
        <ng-container *ngTemplateOutlet="t.contentTemplateRef"></ng-container>
      </div>
    </div>
  </div>
</div> -->

<div class="list-group">
  <ng-container *ngFor="let t of tabs; let isFirst = first; let i = index">
    <a href="#"
      class="list-group-item list-group-item-action">
      <ng-container *ngTemplateOutlet="t.titleTemplateRef"></ng-container>
    </a>
    <div class="list-group-item">
      <ng-container *ngTemplateOutlet="t.contentTemplateRef"></ng-container>
    </div>
  </ng-container>
</div>
