<h6>Minimal Popover Examples</h6>
<p class="text-muted">
  The popover directive works out of the box with the <code>title</code> and Bootstrap's native
  <code>data-</code> attributes.
</p>

<p>
  <button type="button"
    class="btn btn-primary"
    ngxStrapPopover
    title="Popover Title"
    data-content="Some popover content set with the data-content attribute.">Click for Popover</button>

</p>
<pre>ngxStrapPopover title="..." data-content="..."</pre>

<p>
  <button type="button"
    class="btn btn-primary"
    ngxStrapPopover
    title="Popover Placement"
    data-placement="top"
    data-content="Placement set with the data-placement attribute.">
    Popover Placement
  </button>
</p>
<pre>ngxStrapPopover title="..." data-content="..." data-placement="top"</pre>
