@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";
.list-group-item.last-link {
    margin-bottom: 0;
    @include border-bottom-radius($list-group-border-radius);

}

.list-group-item-action {
  i {
    transition: transform 350ms;
  }
  &.active{
    i {
      transform: rotate(90deg);
    }
  }

}
