<div class="list-group" [attr.id]="id">
  <ng-container *ngFor="let item of items; let i = index, let isLast = last">
    <a
      [attr.id]="item.linkId"
      data-toggle="collapse"
      [attr.href]="'#' + item.paneId"
      class="list-group-item list-group-item-action"
      [class.active]="'shown' === itemStatus[i] || 'show' === itemStatus[i]"

      [class.last-link]="selected !== i && isLast"
      [attr.aria-controls]="item.paneId">
      <i class="fas fa-fw fa-caret-right"></i>
      <ng-container *ngTemplateOutlet="item.titleTemplate"></ng-container>
    </a>
    <div
      class="list-group-item collapse"
      [attr.id]="item.paneId"
      [attr.aria-labelledby]="item.linkId"
      [attr.data-parent]="'#' + id">
      <ng-container *ngTemplateOutlet="item.contentTemplate"></ng-container>
    </div>
  </ng-container>
</div>
{{ itemStatus | json }}
