<h6>Tooltip Delay</h6>
<p class="text-muted">
  You can set the delay with the <code>data-delay</code> attribute,
  but if you need to pass an object (e.g., <code>{{ '{' }}show: number, hide: number}</code>)
  rather than a number, use the <code>tooltipDelay</code> input.
</p>

<p>
  <button type="button"
    class="btn btn-primary"
    ngxStrapTooltip
    [tooltipDelay]="{show: 500, hide: 0}"
    title="Show delayed for 500 ms, immediately hidden">Delayed Show</button>

</p>
<pre>ngxStrapTooltip [tooltipDelay]="{{ '{' }}show: 500, hide: 0}"</pre>
