<h6>Enabling/Disabling the Tooltip</h6>
<p class="text-muted">
  Use the <code>tooltipEnabled</code> input to control whether the tooltip can be shown.
</p>

<p>
  <button type="button"
    class="btn btn-primary"
    ngxStrapTooltip
    [tooltipEnabled]="tooltipEnabled"
    title="Toolitip Title">Button with Tooltip</button>
    <br>
     <small>tooltipEnabled: {{tooltipEnabled | json}}</small>
</p>
<pre>ngxStrapTooltip [tooltipEnabled]="tooltipEnabled"</pre>
<p>
  <button type="button"
    class="btn btn-secondary btn-sm mr-2"
    (click)="tooltipEnabled = ! tooltipEnabled">Toggle Enabled</button>
</p>
