<h6>Enabling/Disabling the Tooltip</h6>

<p>
  Use the <code>tooltipEnabled</code> input to control whether the tooltip should be shown.
</p>

<div class="row align-items-center mb-4">
  <div class="col-md-4 text-center mb-2">
    <button type="button"
      class="btn btn-primary mb-2"
      ngxStrapTooltip
      [tooltipEnabled]="tooltipEnabled"
      title="Toolitip Title">
      Tooltip {{tooltipEnabled ? 'Enabled' : 'Disabled'}}
    </button>

    <div class="mt-2">
      <button type="button"
        class="btn btn-secondary btn-sm mr-2"
        (click)="tooltipEnabled = ! tooltipEnabled">
        Toggle Enabled
      </button>
    </div>

  </div>
  <div class="col-md-8 mb-2">
    <markdown ngPreserveWhitespaces>
    ```html
    &lt;button type="button"
      class="btn btn-primary mb-2"
      ngxStrapTooltip
      [tooltipEnabled]="tooltipEnabled"
      title="Toolitip Title">
      Tooltip {{ '{{' }}tooltipEnabled ? 'Enabled' : 'Disabled'}}
    &lt;/button>
    ```
    </markdown>
  </div>

</div>
