<header class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Collapse</h1>
    <p class="lead">
      Bootstrap's implementation of collapse ties an element's visibility
      to a button or link that toggles it. The <code>ngxStrapCollapse</code> directive
      shows or hides an element, based on a boolean input, without reference to any other element.
    </p>
  </div>
</header>

<div class="container">

  <p>
    <a href="https://github.com/nowzoo/ngx-strap#collapse" target="docs">Documentation</a>
  </p>

  <section class="page-section">
    <h4>Basic Demo</h4>
    <p>
      Use <code>[ngxStrapCollapse]="myVar"</code> to create a collapsible
      element whose visibility is tied to <code>myVar</code>.
      The directive adds the <code>.collapse</code> class if it's missing.
    </p>
    <section class="demo">
      <app-collapse-minimal-demo></app-collapse-minimal-demo>
    </section>
    <section class="code">
      <markdown src="/assets/collapse-minimal-demo.md"></markdown>
    </section>
  </section>

  <section class="page-section">
    <h4>Events</h4>
    <p>
      The directive exposes the native Bootstrap
      <a href="https://getbootstrap.com/docs/4.1/components/collapse/#events"
        target="bsdocs">collapse events</a> through the <code>events</code>
        output.
    </p>
    <section class="demo">
      <app-collapse-events-demo></app-collapse-events-demo>
    </section>
    <section class="code">
      <markdown src="/assets/collapse-events-demo.md"></markdown>
    </section>
  </section>

</div>
