<header class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Collapse</h1>
    <p class="lead">
      Directive: <code>ngxStrapCollapse</code>
    </p>
  </div>
</header>

<div class="container">

  <section class="page-section">
    <h4>Demos</h4>
    <section class="demo-section">
      <h5>Basic Demo</h5>
      <section class="demo">
        <app-collapse-minimal-demo></app-collapse-minimal-demo>
      </section>


      <section class="code">
        <markdown src="/assets/collapse-minimal-demo.md"></markdown>
      </section>


    </section>
    <section class="demo-section">
      <h5>Collapse Events and Status</h5>
      <section class="demo">
        <app-collapse-events-demo></app-collapse-events-demo>
      </section>
      <p>
        The directive exposes the native Bootstrap
        <a href="https://getbootstrap.com/docs/4.1/components/collapse/#events"
          target="bsdocs">collapse events</a> through the <code>events</code>
          output. The current status of the collapse is available through the
          <code>status</code> property. This is one of <code>'hidden'</code>,
          <code>'show'</code>, <code>'shown'</code> or <code>'hide'</code>.
      </p>

      <section class="code">
        <markdown src="/assets/collapse-events-demo.md"></markdown>
      </section>
    </section>

  </section>
</div>
