<div class="container">
  <header>
    <h1>Popovers</h1>
  </header>

  <app-popover-minimal-demo></app-popover-minimal-demo>
  <app-popover-dynamic-strings-demo></app-popover-dynamic-strings-demo>
  <app-popover-templates-demo></app-popover-templates-demo>
  <app-popover-delay-demo></app-popover-delay-demo>
  <app-popover-dismiss-demo></app-popover-dismiss-demo>
  <app-popover-events-demo></app-popover-events-demo>
  <app-popover-show-hide-toggle-demo></app-popover-show-hide-toggle-demo>
  <app-popover-enabled-demo></app-popover-enabled-demo>
</div>
