<header class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Popovers</h1>
    <p class="lead">
      Use the <code>ngxStrapPopover</code> directive
      to create Bootstrap popovers with strings or
      templates.
    </p>
  </div>
</header>

<div class="container">


  <h3>Basic Usage</h3>
  <p>
    Import the <code>PopupModule</code>.
    This module exports the popover directive.
  </p>
  <div class="mb-4">
    <markdown ngPreserveWhitespaces>
    ```typescript
    // app.module.ts
    // ...
    import {{ '{' }} PopupModule } from '@nowzoo/ngx-strap';

    @NgModule({{ '{' }}
      imports: [
        //...
        PopupModule
      ]
    })
    export class AppModule  {{ '{' }} }
    ```
    </markdown>
  </div>

  <p>Create a popover...</p>
  <div class="mb-4">
    <markdown ngPreserveWhitespaces ngNonBindable>
    ```html
    &lt;button type="button"
      class="btn btn-primary"
      ngxStrapPopover
      title="Title set with the title attribute"
      data-content="Content set with the data-content attribute."&gt;Popover&lt;/button&gt;
    ```
    </markdown>
  </div>

  <h3>API</h3>

  <ul class="list-unstyled">
    <li>
      Selector: <code>'[ngxStrapPopover]'</code>
    </li>
    <li>
      Export As: <code>'ngxStrapPopover'</code>
    </li>
  </ul>


  <h4>Inputs</h4>
  <h6>Title and Content</h6>
  <ul>
    <li>
       <code>popoverTitle: string | TemplateRef&lt;any&gt;</code>
       <div>
         Optional. Pass a string or a template for the popover title.
         If you don’t need a dynamic title use the <code>title</code>
         or <code>data-title</code> attribute.
       </div>
    </li>
    <li>
       <code>popoverContent: string | TemplateRef&lt;any&gt;</code>
       <div>
         Optional. Pass a string or a template for the popover content.
         If you don’t need dynamic content use the
         or <code>data-content</code> attribute.
       </div>
    </li>
  </ul>
  <h6>Other Bootstrap Popover Options</h6>
  <p>
    All the other
    <a href="http://getbootstrap.com/docs/4.1/components/popovers/#options" target="bsdocs">Bootstrap popover options</a>
    except <code>selector</code> have analogous directive inputs.
    Note that the following options can only be set once, when the directive is created.
  </p>
  <ul>
    <li>
      <code>popoverAnimation: boolean</code>
      <div>
        Optional.
        You can also use the <code>data-animation</code> attribute.
      </div>
    </li>
    <li>
      <code>popoverDelay: number | {{ '{' }}show: number, hide: number}</code>
      <div>
        Optional. You can also use
        the <code>data-delay</code> attribute.
      </div>
    </li>
    <li>
      <code>popoverHtml: boolean</code>
      <div>
        Optional.  You can also use
        the <code>data-html</code> attribute. Note that if
        you use the <code>popoverTitle</code> or <code>popoverContent</code>
        inputs, HTML is always enabled.
      </div>
    </li>
    <li>
      <code>popoverContainer: string | HTMLElement | false</code>
      <div>
        Optional. You can also use the <code>data-container</code> attribute.
      </div>
    </li>
    <li>
      <code>popoverPlacement: string | ((popupEl: HTMLElement, triggerEl: HTMLElement) => string)</code>
      <div>
        Optional. You can also use the <code>data-placement</code> attribute.
      </div>
    </li>
    <li>
      <code>popoverTemplate: string</code>
      <div>
        Optional. You can also use the <code>data-template</code> attribute.
      </div>
    </li>
    <li>
      <code>popoverTrigger: string</code>
      <div>
        Optional. You can also use the <code>data-trigger</code> attribute.
      </div>
    </li>
    <li>
      <code>popoverOffset: number | string</code>
      <div>
        Optional. You can also use the <code>data-offset</code> attribute.
      </div>
    </li>
    <li>
      <code>popoverFallbackPlacement: string | string[]</code>
      <div>
        Optional. You can also use the <code>data-fallbackPlacement</code> attribute.
      </div>
    </li>
    <li>
      <code>popoverBoundary: string | HTMLElement</code>
      <div>
        Optional. You can also use the <code>data-boundary</code> attribute.
      </div>
    </li>
  </ul>
  <h6>Other Inputs</h6>
  <ul>
    <li>
      <code>popoverEnabled: boolean</code>
      <div>
        Optional. Default <code>true</code>. Enable/disable the popover.
      </div>
    </li>

    <li>
      <code>popoverDismissOnClickOutside: boolean</code>
      <div>
        Optional. Use this to hide the
        popover when the user clicks or
        focuses anywhere outside the popover itself.
      </div>
    </li>
  </ul>



  <h4>Outputs</h4>
  <ul>
    <li>
       <code>events: EventEmitter&lt;Event&gt;</code>
       <div>
        The native Bootstrap popover events.
       </div>
    </li>
  </ul>

  <h4>Functions</h4>
  <ul>
    <li>
       <code>show(): void</code>
       <div>
        Show the popover manually.
       </div>
    </li>
    <li>
       <code>hide(): void</code>
       <div>
        Hide the popover manually.
       </div>
    </li>
    <li>
       <code>toggle(): void</code>
       <div>
        Toggle the visibility of the popover manually.
       </div>
    </li>
  </ul>

  <h3>Demos</h3>

  <app-popover-minimal-demo></app-popover-minimal-demo>

  <app-popover-dynamic-strings-demo></app-popover-dynamic-strings-demo>

  <app-popover-templates-demo></app-popover-templates-demo>

  <app-popover-enabled-demo></app-popover-enabled-demo>

  <app-popover-dismiss-demo></app-popover-dismiss-demo>

  <app-popover-events-demo></app-popover-events-demo>

  <app-popover-show-hide-toggle-demo></app-popover-show-hide-toggle-demo>

</div>
