<h1 class="display-1">Tooltips &amp; Popovers</h1>
<hr>

<section>
  <h2>Minimal Demo</h2>
  <p>
    For tooltips, all you need is the directive selector <code>ngxStrapTooltip</code>  and a title attribute.
  </p>
  <p>
    For popovers, use <code>ngxStrapPopover</code> and add a <code>data-content</code> attribute.
  </p>
  <app-minimal></app-minimal>
  <ngx-highlight-js lang="xml" url="https://raw.githubusercontent.com/nowzoo/ngx-strap/master/src/app/popups/demos/minimal/minimal.component.html"></ngx-highlight-js>
</section>
