<h1 class="display-1">Modals</h1>
<hr>

<section class="demo-section">
  <p class="lead">
    A simple directive to apply to an <code>ng-template</code> containing some Bootstrap modal markup.
  </p>

  <ngx-highlight-js
  lang="typescript" [url]="'https://raw.githubusercontent.com/nowzoo/ngx-strap/master/src/app/modals/demos/minimal.component.ts'"></ngx-highlight-js>

  <p>
    <app-repo-link path="#modals">Docs</app-repo-link>
    |
    <app-repo-link path="/tree/master/projects/ngx-strap/src/lib/modal">Library Code</app-repo-link>
  </p>
</section>

<section class="demo-section">
</section>

<section class="demo-section">
  <h2>Minimal demo</h2>
  <p>
    There are no options or inputs. Control the modal behavior in your markup with
    native Bootstrap modal classes and <code>data-</code>
    attributes. See the <a href="http://getbootstrap.com/docs/4.1/components/modal"
      target="boostrap">Bootstrap modal docs</a>.
  </p>
  <div class="d-flex align-items-center">
    <div class="mr-4 mb-2">
      <app-minimal></app-minimal>
    </div>
    <div class="mb-2">
      <app-repo-link path="/blob/master/src/app/modals/demos/minimal.component.ts">Demo Code</app-repo-link>
    </div>
  </div>
</section>
<section class="demo-section">
  <h2>Show</h2>
  <p>
    The directive's <code>show()</code> method returns an instance of
    <app-repo-link path="/blob/master/projects/ngx-strap/src/lib/modal/modal-instance.interface.ts"><code>IModalInstance</code></app-repo-link>.
  </p>
  <div class="d-flex align-items-center">
    <div class="mr-4 mb-2">
      <app-show></app-show>
    </div>
    <div class="mb-2">
      <app-repo-link path="/blob/master/src/app/modals/demos/show.component.ts">Demo Code</app-repo-link>
    </div>
  </div>
</section>
<section class="demo-section">
  <h2>Events</h2>
  <p>
    You can subscribe to the native Bootstrap modal events.
  </p>
  <div class="d-flex align-items-center">
    <div class="mr-4 mb-2">
      <app-events></app-events>
    </div>
    <div class="mb-2">
      <app-repo-link path="/blob/master/src/app/modals/demos/promises.component.ts">Demo Code</app-repo-link>
    </div>
  </div>
</section>
<section class="demo-section">
  <h2>Promises</h2>
  <p>
    The <code>shown</code> and <code>hidden</code> promises.
  </p>
  <div class="d-flex align-items-center">
    <div class="mr-4 mb-2">
      <app-promises></app-promises>
    </div>
    <div class="mb-2">
      <app-repo-link path="/blob/master/src/app/modals/demos/promises.component.ts">Demo Code</app-repo-link>
    </div>
  </div>
</section>
<section class="demo-section">
  <h2>Hide</h2>
  <p>
    You can hide the modal programmatically. Useful for forms.
  </p>
  <div class="d-flex align-items-center">
    <div class="mr-4 mb-2">
      <app-hide></app-hide>
    </div>
    <div class="mb-2">
      <app-repo-link path="/blob/master/src/app/modals/demos/hide.component.ts">Demo Code</app-repo-link>
    </div>
  </div>
</section>
<section class="demo-section">
  <h2>Handle content changes</h2>
  <p>
  Readjust the modal’s position if the
    height of a modal changes while it is
    open (i.e. in case a scrollbar appears).
    <a href="http://getbootstrap.com/docs/4.1/components/modal/#modalhandleupdate"
      target="boostrap">Bootstrap docs...</a>
  </p>
  <div class="d-flex align-items-center">
    <div class="mr-4 mb-2">
      <app-handle-update></app-handle-update>
    </div>
    <div class="mb-2">
      <app-repo-link path="/blob/master/src/app/modals/demos/handle-update.component.ts">Demo Code</app-repo-link>
    </div>
  </div>
</section>

<section class="demo-section">
  <h2>Modals go away</h2>
  <p>
    Modals go away automatically and gracefully when the underlying directive is destroyed.
  </p>
  <div class="d-flex align-items-center">
    <div class="mr-4 mb-2">
      <app-route-change></app-route-change>
    </div>
    <div class="mb-2">
      <app-repo-link path="/blob/master/src/app/modals/demos/route-change.component.ts">Demo Code</app-repo-link>
    </div>
  </div>
</section>
