<header class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">ngx-strap</h1>
    <p class="lead">
      Minimal Angular directives for Bootstrap. Unlike other Angular/Bootstrap libraries,
      <code>ngx-strap</code>
      leverages native Bootstrap javascript and css rather than recreating them from scratch.
    </p>
  </div>
</header>

<div class="container">

  <p>
    <a href="https://github.com/nowzoo/ngx-strap#installation" target="docs">Installation</a>
  </p>

</div>
