<div class="container">
  <header>
    <h1>ngx-strap</h1>
  </header>

  <h4>Install</h4>




  <div class="mb-4">
    <markdown ngPreserveWhitespaces>
    ```bash
    npm i @nowzoo/ngx-strap bootstrap jquery popper.js --save
    ```
    </markdown>
  </div>

  <p>
    Include Bootstrap and its dependencies in your build.
    The best way to do this is to add the scripts and css in <code>angular.json</code>.
  </p>

  <div class="mb-4">
    <markdown ngPreserveWhitespaces>
    ```json
    // angular.json
    "styles": [
      "node_modules/bootstrap/dist/css/bootstrap.min.css",
      "src/styles.css"
    ],
    "scripts": [
      "node_modules/jquery/dist/jquery.slim.js",
      "node_modules/popper.js/dist/umd/popper.min.js",
      "node_modules/bootstrap/dist/js/bootstrap.min.js"
    ]
    ```
    </markdown>
  </div>



</div>
