<h6>Show and Hide the Popover Manually</h6>
<p class="text-muted">
  To manually control the popover's trigger behavior,
  set <code>data-trigger="manual"</code> and
  use the directive's <code>show()</code>, <code>hide()</code>
  and <code>toggle()</code> methods. The directive is exported as
  <code>ngxStrapPopover</code>.
</p>



<div class="row align-items-center mb-4">
  <div class="col-md-4 text-center mb-2">
    <button type="button"
      class="btn btn-primary mr-2"
      ngxStrapPopover
      data-trigger="manual"
      data-placement="top"
      #popover="ngxStrapPopover"
      title="Popover Title"
      data-content="Some popover content.">
      Manual Popover
    </button>
      <div class="mt-2">
        <button type="button"
          class="btn btn-secondary btn-sm mr-2"
          (click)="popover.show()">show()</button>
        <button type="button"
          class="btn btn-secondary btn-sm mr-2"
          (click)="popover.hide()">hide()</button>
        <button type="button"
          class="btn btn-secondary btn-sm mr-2"
          (click)="popover.toggle()">toggle()</button>
      </div>
  </div>
  <div class="col-md-8 mb-2">
    <markdown ngPreserveWhitespaces>
    ```html
    &lt;button type="button"
      class="btn btn-primary mr-2"
      ngxStrapPopover
      data-trigger="manual"
      data-placement="top"
      #popover="ngxStrapPopover"
      title="Popover Title"
      data-content="Some popover content.">
      Manual Popover
    &lt;/button>
    ```
    </markdown>
  </div>

</div>
