/* You can add global styles to this file, and also import other style files */
section.demo {
  padding: 1em 0;
  margin-bottom: 1em;
  border-bottom: 1px dotted #666;
}

section.demo > h2 {
  margin: 0 0 .5em 0;
}


.tooltip.my-custom-tooltip {
  .tooltip-inner {
    background-color: #666;
  }
  &.bs-tooltip-top .arrow::before, &.bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: #666;
  }

}
