/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";


.my-horizontal-nav-link {
  padding-bottom: 0;
  border-bottom: 4px solid transparent;
  &:hover {
    border-bottom: 4px solid $gray-200;
  }
  &.active {
    border-bottom: 4px solid $primary;
  }
}

section.demo {
  background: $gray-300;
  border-radius: 4px;
  padding: 2em 1em 1em 1em;
  margin-bottom: 1em;
  position: relative;
  &:before {
    content: 'Demo';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: .75em;
    padding: 0 1em;
    line-height: 2em;
    background-color: $gray-600;
    color: #FFF;
    border-radius: 4px 0 4px 0;

  }
}

section.page-section {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid $gray-300;
  >section.demo-section {
    margin-bottom: 2em;
    >section.code {
      margin-bottom: 1em;
    }

  }
}
