<h6>Tooltip Using a Dynamic String</h6>

<p>
  Use the <code>tooltipTitle</code> input with a dynamic string
  to set the tooltip title.
</p>

<div class="row align-items-center mb-4">
  <div class="col-md-4 text-center mb-2">
    <button type="button"
      class="btn btn-primary"
      ngxStrapTooltip
      [tooltipTitle]="'The time is ' + time">
      Tooltip from String
    </button>
  </div>
  <div class="col-md-8 mb-2">
    <markdown ngPreserveWhitespaces>
    ```html
    &lt;button type="button"
      class="btn btn-primary"
      ngxStrapTooltip
      [tooltipTitle]="'The time is ' + time">
      Tooltip from String
    &lt;/button>
    ```
    </markdown>
  </div>
</div>
