<h6>Modal Events</h6>
<p class="text-muted">
  The <code>events</code> output emits the native
  Bootstrap modal events.
</p>


<div class="row align-items-center mb-4">
  <div class="col-md-4 text-center mb-2">
    <ng-template
      let-modalDirective="modalDirective"
      ngxStrapModal
      #myModal="ngxStrapModal"
      (events)="onModalEvent($event)">
      <div class="modal fade" id="exampleModalEvents" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalEventsLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalEventsLabel">Modal Events</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Hello there. 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <button type="button"
      class="btn btn-primary"
      (click)="myModal.show()">
      Open Modal
    </button>
    <div class="mt-2 text-left">
      Events:
      <small>{{events.join(', ')}}</small>
    </div>
  </div>
  <div class="col-md-8 mb-2">
    <markdown ngPreserveWhitespaces>
    ```html
    &lt;ng-template
      ngxStrapModal
      #myModal="ngxStrapModal"
      (events)="onModalEvent($event)">
      &lt;div class="modal fade" id="exampleModalEvents" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalEventsLabel" aria-hidden="true">
        &lt;!-- Modal markup -->
      &lt;/div>
    &lt;/ng-template>
    ```
    </markdown>
  </div>

</div>
